{% extends 'base.html' %}
{% load diary_filter %}
{% block content %}
<div class="container my-3">
    <div style="display:flex; flex-direction:row; justify-content: space-around; height: 300px">
        <div style="width:280px; height:250px;">
            <span style="font-weight: bold;">Weekly</span>
            <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                    <div class=""></div>
                </div>
                <div class="chartjs-size-monitor-shrink">
                    <div class=""></div>
                </div>
            </div>
            <canvas id="weekly-pie" style="display: block; height: 150px; width: 248.5;" width="497" height="300" class="chartjs-render-monitor"></canvas>
        </div>
        <div style="width:280px; height:250px">
            <span style="font-weight: bold">Monthly</span>
            <div class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand">
                    <div class=""></div>
                </div>
                <div class="chartjs-size-monitor-shrink">
                    <div class=""></div>
                </div>
            </div>
            <canvas id="monthly-pie" style="display: block; height: 150px; width: 248.5px;" width="497" height="300" class="chartjs-render-monitor"></canvas>
        </div>
    </div>
    <table class="table">

        <thead>
        <tr class="table-dark">
            <th>번호</th>
            <th>Diary</th>
            <th>감정</th>
            <th>작성 일시</th>
        </tr>
        </thead>
        <tbody>
        {% if diary_list %}
        {% for diary in diary_list %}
        <tr>
            <td>
                <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                {{ diary_list.paginator.count|sub:diary_list.start_index|sub:forloop.counter0|add:1 }}
            </td>
            <td>{{ diary.content }}</td>
            <td>{{ diary.sentiment }}</td>
            <td>{{ diary.create_date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">일기가 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if diary_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ diary_list.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in diary_list.paginator.page_range %}
        {% if page_number >= diary_list.number|add:-5 and page_number <= diary_list.number|add:5 %}
        {% if page_number == diary_list.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if diary_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ diary_list.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
    <a href="{% url 'diary:diary_create' %}" class="btn btn-primary">일기 등록하기</a>



    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function() {
          new Chart(document.getElementById("weekly-pie"), {
              type: "pie",
              data: {
                  labels: ["Happy", "Sad", "Angry"],
                  datasets: [{
                      data: ["{{weekly_happy| safe }}", "{{weekly_sad| safe }}", "{{weekly_angry| safe }}"],
                      backgroundColor: [
                          "#FFF4D2",
                          "#2B3467",
                          "#EB455F"
                      ],
                      borderColor: "transparent"
                  }]
              },
              options: {
                  maintainAspectRatio: false,
              }
          });
          new Chart(document.getElementById("monthly-pie"), {
              type: "pie",
              data: {
                  labels: ["Happy", "Sad", "Angry"],
                  datasets: [{
                      data: ["{{monthly_happy| safe }}", "{{monthly_sad| safe }}", "{{monthly_angry| safe }}"],
                      backgroundColor: [
                          "#FFF4D2",
                          "#2B3467",
                          "#EB455F"
                      ],
                      borderColor: "transparent"
                  }]
              },
              options: {
                  maintainAspectRatio: false,
              }
          });
      });
    </script>
    <script src="https://demo.adminkit.io/js/app.js"></script>
</div>
{% endblock %}